body {
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

header {
  color: white;
  background-color: #f90;
}

header, footer {
  padding: 12px;
}

footer {
  border-top: solid 1px #999;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1, h2 {
  display: inline-block;
  vertical-align: bottom;
  font-weight: bold;
}

h1 {
  font-size: 1.2rem;
}

h1 a {
  color: white;
}

h2 {
  font-size: .8rem;
  margin: 2px 8px;
}

header .pickr {
  border: solid 1px white;
  margin-top: -3px;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.song {
  position: relative;
  padding: 12px;
  user-select: none;
}

li.playing {
  background-color: #eee;
}

li.song:hover {
  background-color: #eee;
}

h3 {
  font-size: 2.4rem;
  font-weight: normal;
  margin-right: 160px;
}

h3 a {
  text-decoration: none;
}

li.song p {
  color: #999;
}

li.song .length {
  color: black;
  font-weight: bold;
}

li.song .progress {
  float: right;
  background-color: white;
  height: 12px;
  width: 100px;
  margin: 24px;
}

li.song .progress > div {
  background-color: #ddd;
  height: 100%;
  width: 0%;
}

main iframe {
  width: 0;
  height: 0;
}

/* editor css */
header .editor {
  float: right;
}

main .file-form {
  background-color: #999;
  color: white;
  padding: 20px;
}

li.song a.editor {
  margin-left: 12px;
  text-decoration: none;
}

li.song a.editor span {
  text-decoration: underline;
}

header .editing {
  border-bottom: solid 1px white;
}

[contenteditable="true"].editing {
  white-space: nowrap;
} 

[contenteditable="true"].editing br {
  display:none;
}

[contenteditable="true"].editing * {
  display:inline;
  white-space:nowrap;
}

#access {
  float: right;
}

#publish {
  color: #C09;
  background-color: #3C9;
  font-size: 1.6rem;
  padding: 8px 14px;
  display: block;
  margin-top: 6px;
  margin-left: 50px;
}

#publish:disabled,
#publish[disabled] {
  display: none;
}

#overlay {
  display: none;
  position: fixed;
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 40vh;
  overflow: hidden;
}

#overlay.adding {
  display: block;
  background-color: #0AE;
}

.adding p:after {
  content: "ADDING SONGS";
}
#overlay.publishing {
  display: block;
  background-color: #0C9;
}

.publishing p:after {
  content: "PUBLISHING";
}
